body{
    background-color: rgba(73,66,66,255) !important;
    padding: 0px;
    margin: 0px;
}

.form-control{
    width: 40rem!important;
}
.navbar{
    margin: 0px!important;
    padding:0px !important;
    padding-bottom: 10px !important;
    width: 100% importn !important;
}

pre{
    font-family: Ink Free !important;
    font-size: large !important;
}
.Voucart{
    margin-left: 0px !important;
    padding-left: 0px !important;
    
}
.container-fluid{
    background-color:rgba(58,57,56,255)!important;
    padding: 0px !important;
    margin: 0px !important;
}
.collapse {
    background-color: rgba(73,66,66,255) !important;
    width: 100% !important;
}
#upper-navbar{
    padding-bottom: 0px !important;
}

.nav-link:active{
    font-weight: bolder !important;
    color: gold;
    text-decoration:underline gold!important;

}

.searchbox{
    width: 50rem!important;
    height: 35px;
}


.btn{
    border-color: goldenrod !important;
    color: goldenrod !important;
}
.btn:hover{
    background-color: rgb(95, 77, 32) !important;
}
.navbar-text{
    display:inline-block !important;
    
    margin: 0rem 5rem 0rem 5rem !important;
    color: gold !important;
}
.nav-link:hover{
    text-decoration: underline gold!important;    
    color: gold;
   
}

.items{
    margin-top: 25px;
    text-align:left !important;
}

.text-center {
    text-align:left !important;
}
.Product{
    margin: 10px 0px;
    text-align: left !important;
}
.row{
    margin: 20px !important;
}

